/*Index.js*/

@media (min-width: 768px) {
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
}

.seccion1 {
  background-color: rgb(0, 137, 201);
  padding-bottom: 3rem;

}

.seccion1 h1 {
  color: #fff;
}

/*AgregarCampo.jsx*/

.campos {
  text-align: center;
  margin: 2.2rem 0;
}

.campos select {
  width: 50%;
  padding: .8rem .5rem;
  border-radius: 10px;
  border: solid 1px #e1e1e1;
  font-size: 1.1rem;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  padding: 1rem 2rem;
  background-color: rgb(255, 157, 0);
  font-size: 1.1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/*ListadoCampos.jsx*/

.contenido {
  margin-top: 2rem;
}

.campo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.campo label {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.campo input {
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
  border: solid 2px #e1e1e1;
  outline: none;
  font-size: 1rem;
}

.campo select {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 5px;
  border: solid 2px #e1e1e1;
}

.seccionPaises {
  width: 80%;
  text-align: center;
  margin: 3rem auto;
  border-radius: 10px;
}

.seccionPaises legend {
  font-size: 1.5rem;
}

.paises {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 2rem;
  font-size: 1.2rem;
}